.print-off{
    display:none;
}

#leftcolumn a:link:after, #leftcolumn a:visited:after{
    content:"("attr(href)")";
    Font-size: 90%;
}

img{
    display:none;
}
    
body{
	font-family:Arial,serif;
	background-color:#3399FF;
	line-height:100%;
	font-size:medium;
	color:#000000;
    margin: .25in;
}

#container{
    background-color:#FFFFFF;  
}


#masthead{
	color:#FFFFFF;
	background-color:navy;
	text-align:center;
}

#masthead h1{
	font-size: 180%;
	line-height: 235%;
	color:#FFFFFF;
    width:250px;
}

#navigation{
	background-color:Gray;
    display:none;
    width: 100%;
}

#navigation ul{
	list-style:none;
	overflow:hidden;
}

#navigation a{
		
	border: 2px inset #CCCCCC;
	background-color: #0000FF;
	line-height: 250%;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 17px;
	text-decoration:none;

}

#navigation a:hover{
	color: #FFFF00;
	border: 2px outset #CCCCCC;

}

#maincontent
{
    background-image: url('Images/background.jpg');
    background-repeat:repeat-y;
    width: 100%;
}


#leftcolumn{
	text-align:left;
    width: 100%;
}

#rightcolumn{
	text-align:left;
    width: 100%;
}

#rightcolumn p
{
    font-size:small;
    word-spacing: 105%;
    line-height:110%;
}

#footer{
    background-color:Navy;
    color:#FFFFFF;
    text-align:center;
    width: 100%;
}

h1
{
    color:Navy;
    font-size:xx-large;
    line-height:100%;
    font-family:Tahoma;
    clear:both;
}

h2
{
    color:Navy;
    font-size:x-large;
    line-height:100%;
    font-family:Tahoma;
    clear:both;
}

h3
{
    color:Navy;
    font-size:large;
    line-height:100%;
    font-family:Tahoma;
}

.contact
{
	
    text-align:right;
    color:#FFFFFF;
    width: 250px;
    font-size: small;
}

.clearfloat
{
    clear:both;
}

.moveleft
{
    width:260px;
    text-align:left;
}

.moveright
{
    width:260px;
    text-align:right;
}

.logoleft{
	width: 150px;
}